<!-- pagos_cronograma.html -->
{% extends 'base.html' %}

{% block title %}Pagos del Cronograma{% endblock %}

{% block content %}
<div class="container">
    <h2>Pagos del Cronograma</h2>
    <table id="pagos-table" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha de Pago</th>
                <th>Monto de Pago</th>
                <th>Documento de Pago</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
            <tr>
                <td>{{ pago.fecha_pago }}</td>
                <td>{{ pago.monto_pago }}</td>
                <td>
                    {% if pago.pdf_pago %}
                        <a href="{{ pago.pdf_pago.url }}" target="_blank">Ver Documento de Pago</a>
                    {% else %}
                        No hay documento adjunto
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
