<!-- tu_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Item de Orden de Venta</title>
</head>
<body>
    <h2>Agregar Item asdadssdsdde Orden de Venta</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="id_archivo_excel">Cargar desde Excel:</label>
        <input type="file" name="archivo_excel" accept=".xlsx, .xls">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
