<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Orden de Venta</title>
</head>
<body>
    <h1>Detalles de Orden de Venta: {{ ordenventa }}</h1>

    <h2>Items:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Cantidad Solicitada</th>
                <th>Cantidad Disponible en Inventario</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.nro_articulo }}</td>
                    <td>{{ item.desc_articulo }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>
                        {% for articulo in inventario %}
                            {% if articulo.num_articulo == item.nro_articulo %}
                                {{ articulo.en_stock|add:item.cantidad }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay elementos en inventario para mostrar.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
