<!-- ver_items_orden_venta.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Ver Items de Orden de Venta</title>
</head>
<body>
    <h1>Items de la Orden de Venta {{ ordenventa }}</h1>
    
    <form method="post" action="{% url 'procesar_seleccion' ordenventa_id=ordenventa.id %}">
        {% csrf_token %}
        
        <!-- Cambiado a un campo de selección para la acción -->
        <label for="action">Selecciona una acción:</label>
        <select name="action">
            <option value="eliminar">Eliminar</option>
            <option value="marcar_enviado">Marcar como Enviado</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>

        <table>
            <thead>
                <tr>
                    <th>Seleccionar</th>
                    <th>Número de Artículo</th>
                    <th>Cantidad</th>
                    <th>Precio Bruto</th>
                    <th>Total Bruto</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    {% if not item.enviado %}
                        <tr>
                            <td><input type="checkbox" name="selected_items" value="{{ item.id }}"></td>
                            <td>{{ item.nro_articulo }}</td>
                            <td>{{ item.cantidad }}</td>
                            <td>{{ item.precio_bruto }}</td>
                            <td>{{ item.total_bruto }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
        <button type="submit">Procesar Selección</button>

    </form>
</body>
</html>
